/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/newsletter/page.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.page_newsContainer__4ETZ5 {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.page_filterSidebar__q8u7b {
    width: 20%;
    border-right: 1px solid #ccc;
    padding-right: 1rem;
}

.page_filterHeader__2I1KV {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.page_filterList__FcU0P {
    list-style: none;
    padding: 0;
}

.page_filterList__FcU0P li {
    margin-bottom: 0.5rem;
}

.page_newsContent__g1Wwb {
    width: 80%;
}

.page_headerNews__3IAUa {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.page_newsList__IRPGY {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page_newsCard__fB1OK {
    display: flex;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background-color: #F9F9F9;
}

.page_newsImage__7yuRA {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 8px;
}

.page_newsDetails__mRggp {
    flex: 1 1;
}

.page_newsTitle__nvgDi {
    font-size: 1.25rem;
    margin: 0;
}

.page_newsDate__gT7ZS {
    font-size: 0.9rem;
    color: #777;
    margin: 0.5rem 0;
}

.page_newsDescription__FujGP {
    font-size: 1rem;
    color: #555;
    margin: 0;
}
