/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/


@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Reddit Sans Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@400;700&display=swap');
}

.page_homeImg__A1lQl {
    width: 100%;
}

.page_topSectionGrid__hOGIT {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;

}

.page_cityImage__CyQcY {
    grid-column: span 3;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.page_linkButtons__6Cqpc {
    height:125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_linkButtonText__w388h {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}   


.page_contactButton__dZrXS{
    background-color: #145899;
}

.page_donateButton__br0lQ {
    background-color: #FF8D3D;
}

.page_volunteerButton__yvX4G {
    background-color: #4796E3;
}

.page_aboutMeContainer__mA3G0 {
    display: flex;
    margin: 20px 0px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.page_aboutMeImage__wRFR4 {
    height: 400px;

}

.page_aboutMeText__T1LyT{
    color:#145899;
    font-size:x-large;
    line-height: 2.5rem;
    font-family:'Reddit Sans Condensed', sans-serif;
    font-weight:400;
}

.page_aboutMeBigText__jZ0FN {
    color:#FF8D3D;
    font-size: xx-large;
    font-weight: 700;
    
}
