/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/


@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Reddit Sans Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Asap';
    src: url(/_next/static/media/AsapFont.e6a4e538.ttf);    
    font-weight: 800;
    font-style: normal;

}

.page_homeImg__A1lQl {
    width: 100%;
}

.page_topSectionGrid__hOGIT {
    display: grid;                      
    grid-template-columns: 1fr 1fr /*1fr if donation*/; 
    grid-template-rows: 1fr auto;

}

.page_topBannerContainer__WrQpg{
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    background: 
    radial-gradient(circle at 114.79% 115.42%, rgba(191, 195, 204, 0.8) 29%, rgba(136, 140, 149, 0.8) 86.5%), 
    linear-gradient(180deg, #8A8E97 0%, #B7BBC4 100%);
    
    
}   

.page_bannerPicture___cP0_, .page_bannerText__ylMIS {
    grid-row-start: 1;
    grid-row-end: 2
}

.page_bannerPicture___cP0_ {
    width: 100%;
    grid-column-start: 7;
    grid-column-end: 13;

}

.page_bannerText__ylMIS {
    font-size:35px;
    z-index: 1;
    color:white;
    font-family: Asap;
    grid-column-start: 2;
    grid-column-end: 8;
    letter-spacing: 2px;
    margin-top: 20px;
    
}

.page_bannerTextHeading__VHtts {
    margin-bottom: 0px;
}

.page_bannerTextParagraph__Bf_mz {
    margin:0px;
    padding: 0px;
}

.page_bannerJoin__d5o1q{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.page_bannerJoinText__UKasS {
    margin-bottom: 0px;
    font-size: 20px;
}

.page_bannerJoinForm__eJE8w {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    width: 80%;
}

.page_bannerJoinFormInput__0HrcM {

    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 5px 0px 0px 5px;
}

.page_bannerJoinFormButton__ZWr6d {
    font-family: 'Reddit Sans Condensed';
    font-size: x-large;
    font-weight: bold;
    padding:15px;
    color:white;
    box-sizing: border-box;
    background: #FF8D3D;
    border: 1px solid #FF8D3D;
    letter-spacing: 1px;

}



/*
.cityImage {
    grid-column: span 3;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}


*/
.page_linkButtons__6Cqpc {
    height:125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_linkButtonText__w388h {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}   


.page_contactButton__dZrXS{
    background-color: #145899;
}

.page_donateButton__br0lQ {
    background-color: #FF8D3D;
}

.page_volunteerButton__yvX4G {
    background-color: #4796E3;
}

.page_aboutMeContainer__mA3G0 {
    display: flex;
    margin: 60px 0px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.page_aboutMeImage__wRFR4 {
    height: 300px;

}

.page_aboutMeText__T1LyT{
    color:#145899;
    font-size:x-large;
    line-height: 2.5rem;
    font-family:'Reddit Sans Condensed', sans-serif;
    font-weight:550;
}

.page_aboutMeBigText__jZ0FN {
    color:#FF8D3D;
    font-size: xxx-large;
    font-weight: 700;
    
}
